/* <---------------FONTS---------------> */
$Font1: 'Comfortaa', cursive;
$Font2: 'Actor', sans-serif;

/* <--------------COLORS---------------> */
$ColorButton1: #4080FF;
$Color1: white;

/* <--------------SHADOWS--------------> */
$ShadowButton1: 0px 4px 4px rgba(0, 0, 0, 0.25);