.containerLofche{
    width: 100%;
    display: flex;
    justify-content: center;
    // margin: 0px 400px 0px 400px;

//     background-image: url("imagenes/FondoSinVentanas.png");
//     background-position: center center;
//     background-repeat: no-repeat;
//     background-attachment: fixed;
//     background-size: cover;
}
    .feedLofche{
        display: flex;
        justify-content: center;
        padding: 0px 25px 25px 25px;
        margin-top: 125px;
    }
    .publicationFeed{
        @extend %Publication-Feed;
    }
        .textPublication{
            @extend %Input-blue;
            padding: 30px;
            margin: 8px 0;
        }
    
        .butonsPublication{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 10px;
        }
            // #buttonSave, #cancelEditCrud,
            #btnPublish, #btnCancel {
                @extend %Button-blue;
                width: 105px;
                height: 30px;
            }
.containerPublicationFeed{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
}
.containerPublication{
    @extend %Publication-Feed;
    padding: 25px;
    margin: 15px 0px 15px 0px;
}
    .crudContainer{
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
    }
        .btnCrudOptions{
            @extend %Img-button;
        }
            .dropdownContentEdit {
                display: none;
                position: absolute;
                box-shadow: $ShadowButton1;
                z-index: 1;
                background-color: $Color9;
                border-radius: 6px;
                width: 120px;
            }
            .dropdownContentEdit button {
                @extend %Img-button;
                padding: 12px 16px;
                display: block;
                font-family: $Font2;
                color: $Color1;
                box-shadow: $ShadowButton2;
                font-size: 15px;
                border-radius: 6px;
                width: 100%;
                width: 120px;
            }
            /* Change color of dropdown links on hover */
            .dropdownContentEdit button:hover {background-color: $Color8; width: 100%;}
                        
            /* Show the dropdown menu on hover */
            .crudContainer:hover .dropdownContentEdit {display: block;}

    // .textBoxStyle{
    //     display: flex;
    //     flex-direction: column;
    // }
        .containerNameAndEdit{
            display: flex;
            justify-content: space-between;
        }
            .namePublication{
                font-size: 25px;
                margin-bottom: 10px;
            }
            .edit{
                display: flex;
                flex-direction: column;
                margin-top: 10px;
                text-align: justify;
            }

//             .reactions{
//                 display: flex;
//                 background: rgba(233, 113, 104, 0.5);
//                 border-radius: 10px;
//                 width: 50px;
//                 height: 27px;
//                 justify-content: center;
//                 align-items: center;
//                 margin-top: 15px;
//             }
            .imgOptionsDots{
                width: 23px;        
            }
            .btnLike{
                @extend %Img-button;
                display: flex;
                margin-left: 3px;
                justify-content: center;
                align-items: center;
            }
            .likesContainer{
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 5px;
            }

/* <---------------------MEDIA QUERY---------------------> */
@media all and (max-width: 600px){
    .publicationFeed, .containerPublication{
        width: 350px;
    }
    // .textPublication{ width: 350px }
}
@media all and (max-width: 445px){
    .publicationFeed, .containerPublication{
        width: 300px;
    }
    // .textPublication{ width: 100%; }
}