.containerPageProfile{
    width: 100%;
    display: flex;
    justify-content: center;

    // height: 900px;

    // background-image: url("imagenes/FondoSinVentanas.png");
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-size: cover;
}
    .containerProfile{
        display: flex;
        padding: 30px;
        width: 720px;
        margin: 125px 40px 90px 40px;
        font-family: $Font1;
        color: $Color3;
        font-size: 14px;
        background: $Color4;
        box-shadow: $ShadowButton1;
        border-radius: 10px;
    }
        .containerDescriptionUsername{
            display: flex;
            flex-direction: column;   
            width: 70%;      
        }
            .nameProfile{
                font-size: 32px;
                width: 95%;
                // margin: 0;
                padding-bottom: 20px;
            }
            .description, .mail, .years, .location{
                padding-bottom: 10px;
                font-size: 20px;
            }
            .profileDescription, .profileAge, .profileMail {
                padding-bottom: 20px;
            }
    .containerImgAndButton{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        width: 30%
    }
        .imgProfile{
            width: 100%;
            border-radius: 50%;
            border: 4px solid $Color2;
        }
            .editProfile{
                @extend %Button-blue;
                width: 100%;
                height: 35px;
            }
    .addButton{
        width: 100%;
        box-sizing: border-box;
    }
    .containerBtnsProfile{
        justify-content: space-around;
    }

    .editProfileCancel, 
    .editProfileSave {
        @extend %Button-blue;
        width: 100%;
        height: 35px;
        margin-bottom: 20px;
    }

    .profileLocationImput,
    .profileDescriptionImput,
    .profileAgeImput {
        @extend %Input-blue;
        width: 93%;
        margin-bottom: 20px;
    }


/* <---------------------MEDIA QUERY---------------------> */
@media all and (max-width: 460px){
    .editProfile {
        height: 46px;
    }
}
@media all and (max-width: 360px){
    .containerProfile {
        width: 220px;
    }
}
// @media all and (max-width: 400px){
//     .publicationFeed, .containerPublication{
//         width: 250px;
//     }
// }
// @media all and (max-width: 360px){
//     .publicationFeed, .containerPublication{
//         width: 220px;
//     }
// }