.containerSignIn{
    display: flex;
    justify-content: center;
    
    // background-image: url("imagenes/FondoSinVentanas.png");
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-size: cover;
}
    .modalSignIn{
        @extend %Modal-LogAndSign;
        margin-bottom: 120px;
    }
        .name , .email , .password , .district{
            @extend %Input-blue;
            margin: 8px 0;
        }

        .textRegisterWith{
            margin-top: 30px;
            margin-bottom: 20px;
        }

        .btngoogle, .btnFacebook{
            @extend %Img-button;
            margin: 0px 7px 15px 7px;
        }
            .social-media-logo{
                height: 50px;  
            }
        #btnRegister{
            @extend %Button-blue;
            width: 100%;
            height: 30px;
        }
    .eyePassword{
        width: 25px;
    }

/* <---------------------MEDIA QUERY---------------------> */
@media all and (max-width: 410px){
    .modalSignIn{ width: 220px; }
    #btnRegister{ width: 220px; }
}