.welcomeLofche{
    width: 100%;
    padding: 76px 70px 0px 70px;
    box-sizing: border-box;
}
.logoWelcome{
    width: 350px;
}
.containerWelcome{
    font-family: $Font1;
    color: $Color1;
    width: 450px;
    font-size: 21px;
    line-height: 33px;
    padding-left: 5px;
}

/* <---------------------MEDIA QUERY---------------------> */
@media all and (max-width: 600px){
    .welcomeLofche{ padding: 76px 40px 100px 40px;}
    .logoWelcome{ width: 300px; }
    .containerWelcome{
        width: 310px;
        font-size: 20px;
    }
}
@media all and (max-width: 410px){
    .logoWelcome{ width: 230px; }
    .containerWelcome{
        width: 230px;
        font-size: 19px;
    }
}