.containerBackground{
    width: 100%;
    height: 900px;
    background-image: url("https://raw.githubusercontent.com/valeriaconstanzabc/SCL013-social-network/master/src/imagenes/FondoGrande.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.welcomeLofche{
    width: 100%;
    padding: 76px 70px 0px 70px;
    box-sizing: border-box;
}
.logoWelcome{
    width: 350px;
}
.containerWelcome{
    font-family: $Font1;
    color: $Color1;
    width: 450px;
    font-size: 20px;
    line-height: 33px;
    padding-left: 5px;
}

/* <---------------------MEDIA QUERY---------------------> */
@media all and (max-width: 770px){
    .containerBackground{
        background-image: url("https://raw.githubusercontent.com/valeriaconstanzabc/SCL013-social-network/master/src/imagenes/FondoChico.jpg");
        background-position: center;
    }
    .welcomeLofche{ padding: 76px 40px 100px 40px;}
    .logoWelcome{ width: 300px; }
    .containerWelcome{
        width: 310px;
        font-size: 20px;
    }
}
@media all and (max-width: 578px){
    .logoWelcome{ width: 230px; }
    .containerWelcome{
        width: 230px;
        font-size: 19px;
    }
}
@media all and (max-width: 425px){

    .containerWelcome{
        width: 190px;
    }
}