.welcomeLofche{
    width: 30%;
    margin: 0px 45px 0px 70px;
    box-sizing: border-box;
}
.logoWelcome{
    width: 350px;
}
.containerWelcome{
    font-family: $Font1;
    color: $Color1;
    font-size: 21px;
    line-height: 33px;
    padding-left: 5px;
    padding-top: 10px;
    margin-left: 2px;
}