@charset "UTF-8";
/* <---------------IMPORT VARIABLES---------------> */
/* <---------------FONTS------------------------------> */
/* <--------------COLORS------------------------------> */
/* <--------------SHADOWS-----------------------------> */
/* <--------------BUTTONS-----------------------------> */
.logInButton, #next_button, #btnRegister, #btnPublish, #btnCancel {
  font-family: "Actor", sans-serif;
  font-size: 16px;
  color: white;
  border: 3px;
  background: #4080FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  cursor: pointer; }

.btngoogle, .btnFacebook {
  border: 0px;
  background-color: Transparent;
  cursor: pointer; }

/* <--------------INPUTS------------------------------> */
.email_login, #password_login, .name, .email, .password, .district, .textPublication {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 2px solid #212157;
  border-radius: 10px;
  background: #FFFFFF; }

/* <--------------MODALS------------------------------> */
.modalLogIn, .modalSignIn {
  display: flex;
  flex-direction: column;
  width: 310px;
  padding: 25px;
  margin: 125px 0px 60px 0px;
  font-family: "Comfortaa", cursive;
  color: #24255E;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: center; }

.publicationFeed {
  display: flex;
  flex-direction: column;
  padding: 15px 25px 25px 25px;
  font-family: "Comfortaa", cursive;
  color: #24255E;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px; }

/* <---------------IMPORT COMPONENTS--------------> */
.containerHeader {
  width: 100%;
  margin-top: 18px;
  position: fixed; }

.header {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0px 70px 0px 70px; }

.headerLogo {
  display: flex;
  justify-content: flex-end;
  width: 53%; }

.logoHeader {
  height: 55px; }

.divLogInButton {
  display: flex;
  justify-content: flex-end;
  width: 50%; }

.logInButton {
  width: 110px;
  height: 35px; }

/* <---------------------HEADER FEED---------------------> */
.headerFeed {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 18px;
  padding: 7px 0px 7px 0px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.notificationHeaderFeed,
.friendsHeaderFeed,
.inboxHeaderFeed {
  height: 30px; }

.logoHeaderFeed {
  height: 50px;
  padding-left: 7px; }

/* El contenedor <div> - para posicionar el contenido desplegable */
.headerPerfilButton {
  position: relative;
  display: inline-block; }

/* Dropdown Button */
.btnHeaderOptions {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #4080FF; }

/* Contenido desplegable (oculto por Default) */
.dropdownContent {
  right: 0;
  display: none;
  position: absolute;
  min-width: 120px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
  background-color: #ee8078;
  border-radius: 6px; }

/* Links dentro del dropdown */
.dropdownContent a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  font-family: "Actor", sans-serif;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: white;
  font-size: 15px;
  border-radius: 6px; }

/* Cambio de color de los links en el hover */
.dropdownContent a:hover {
  background-color: #749ef0; }

/* Mostrar el menú desplegable en hover */
.headerPerfilButton:hover .dropdownContent {
  display: block; }

/* <---------------------MEDIA QUERY---------------------> */
@media all and (max-width: 600px) {
  .header {
    padding: 0px 40px 0px 40px; } }

@media all and (max-width: 410px) {
  .logInButton {
    font-size: 16px;
    width: 100%; }
  .header {
    padding: 0px 20px 0px 20px; } }

.footer {
  position: fixed;
  width: 100%;
  bottom: 18px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  padding: 4px 18px 4px 18px;
  justify-content: center;
  align-items: center; }

.imgFooter {
  height: 50px; }

.copyright {
  color: #24255E;
  font-family: "Comfortaa", cursive;
  font-size: 10px;
  order: 0;
  flex: 5 0 auto;
  align-self: auto;
  display: flex;
  justify-content: flex-start;
  margin-left: 10px; }

.containerSocialMedia {
  margin-right: 30px;
  display: flex;
  align-items: center; }

.social-media {
  margin: 5px; }

.socialMedia1, .socialMedia2,
.socialMedia3 {
  height: 25px; }

/* <---------------IMPORT PAGES-------------------> */
.welcomeLofche {
  width: 100%;
  padding: 76px 70px 0px 70px;
  box-sizing: border-box; }

.logoWelcome {
  width: 350px; }

.containerWelcome {
  font-family: "Comfortaa", cursive;
  color: white;
  width: 450px;
  font-size: 21px;
  line-height: 33px;
  padding-left: 5px; }

/* <---------------------MEDIA QUERY---------------------> */
@media all and (max-width: 600px) {
  .welcomeLofche {
    padding: 76px 40px 0px 40px; }
  .logoWelcome {
    width: 300px; }
  .containerWelcome {
    width: 310px;
    font-size: 20px; } }

@media all and (max-width: 410px) {
  .logoWelcome {
    width: 230px; }
  .containerWelcome {
    width: 230px;
    font-size: 19px; } }

.containerLogIn {
  display: flex;
  justify-content: center; }

.modalLogIn h1 {
  margin: 35px 0px 9px 0px; }

.line {
  background: #24255E;
  width: 100%;
  height: 1.2px;
  margin: 0px 0px 50px 0px; }

.containerPassword {
  display: flex;
  align-items: center;
  margin-bottom: 25px; }

.eyePassword {
  cursor: pointer; }

.email_login, #password_login {
  margin: 8px 0; }

.text {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left; }

.error {
  font-size: 13px;
  color: #ff3a3a;
  font-weight: bold;
  margin-top: 5px; }

#next_button {
  width: 310px;
  height: 40px;
  margin: 20px 0px 25px 0px; }

.registerHere {
  cursor: pointer;
  font-size: 11px; }

/* <---------------------MEDIA QUERY---------------------> */
@media all and (max-width: 410px) {
  .modalLogIn {
    width: 220px; }
  #next_button {
    width: 220px; } }

.containerSignIn {
  display: flex;
  justify-content: center; }

.modalSignIn {
  margin-bottom: 120px; }

.name, .email, .password, .district {
  margin: 8px 0; }

.textRegisterWith {
  margin-top: 30px;
  margin-bottom: 20px; }

.btngoogle, .btnFacebook {
  margin: 0px 7px 15px 7px; }

.social-media-logo {
  height: 50px; }

#btnRegister {
  width: 100%;
  height: 30px; }

#modalSignInRedirecting {
  display: flex; }

#btnRedirecting {
  position: relative; }

.eyePassword {
  width: 25px; }

/* <---------------------MEDIA QUERY---------------------> */
@media all and (max-width: 410px) {
  .modalSignIn {
    width: 220px; }
  #btnRegister {
    width: 220px; } }

.containerLofche {
  display: flex;
  justify-content: center; }

.feedLofche {
  padding: 0px 25px 25px 25px;
  margin-top: 125px; }

.textPublication {
  width: 500px;
  padding: 30px;
  margin: 8px 0; }

.butonsPublication {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px; }

#btnPublish, #btnCancel {
  width: 105px;
  height: 30px; }

/* <---------------------MEDIA QUERY---------------------> */
@media all and (max-width: 600px) {
  .textPublication {
    width: 350px; } }

@media all and (max-width: 445px) {
  .textPublication {
    width: 100%; } }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://raw.githubusercontent.com/valeriaconstanzabc/SCL013-social-network/master/src/imagenes/FondoGrande.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: auto; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }
