/* <---------------IMPORT VARIABLES---------------> */
@import "./Views/Styles/_Variables.scss";

/* <---------------IMPORT COMPONENTS--------------> */
@import "./Views/Styles/Components/_Header.scss";
@import "./Views/Styles/Components/_Footer.scss";

/* <---------------IMPORT PAGES-------------------> */
@import "./Views/Styles/Pages/_Welcome.scss";
@import "./Views//Styles/Pages/_LogIn.scss";
@import "./Views//Styles/Pages/_SignIn.scss";
@import "./Views//Styles/Pages/_Feed.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("https://raw.githubusercontent.com/valeriaconstanzabc/SCL013-social-network/master/src/imagenes/FondoGrande.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
