/* <---------------IMPORT VARIABLES---------------> */
/* <---------------FONTS------------------------------> */
/* <--------------COLORS------------------------------> */
/* <--------------SHADOWS-----------------------------> */
/* <--------------BUTTONS-----------------------------> */
.logInButton, #next_button {
  font-family: "Actor", sans-serif;
  font-size: 16px;
  color: white;
  border: 3px;
  background: #4080FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  cursor: pointer; }

/* <--------------INPUTS------------------------------> */
.email_login, #password_login {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 2px solid #212157;
  border-radius: 10px;
  background: #FFFFFF; }

/* <---------------IMPORT COMPONENTS--------------> */
.containerHeader {
  width: 100%;
  margin-top: 18px; }

.header {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0px 70px 0px 70px; }

.headerLogo {
  display: flex;
  justify-content: flex-end;
  width: 53%; }

.logoHeader {
  height: 55px; }

.divLogInButton {
  display: flex;
  justify-content: flex-end;
  width: 50%; }

.logInButton {
  width: 110px;
  height: 35px; }

/* <---------------------MEDIA QUERY---------------------> */
@media all and (max-width: 600px) {
  .header {
    padding: 0px 40px 0px 40px; } }

@media all and (max-width: 410px) {
  .logInButton {
    font-size: 16px;
    width: 100%; }
  .header {
    padding: 0px 20px 0px 20px; } }

/* <---------------IMPORT PAGES-------------------> */
.welcomeLofche {
  width: 100%;
  padding: 0px 70px 0px 70px;
  box-sizing: border-box; }

.logoWelcome {
  width: 350px; }

.containerWelcome {
  font-family: "Comfortaa", cursive;
  color: white;
  width: 450px;
  font-size: 21px;
  line-height: 33px;
  padding-left: 5px; }

/* <---------------------MEDIA QUERY---------------------> */
@media all and (max-width: 600px) {
  .welcomeLofche {
    padding: 0px 40px 0px 40px; }
  .logoWelcome {
    width: 300px; }
  .containerWelcome {
    width: 310px;
    font-size: 20px; } }

@media all and (max-width: 410px) {
  .logoWelcome {
    width: 230px; }
  .containerWelcome {
    width: 230px;
    font-size: 19px; } }

.containerLogIn {
  display: flex;
  justify-content: center; }

.modalLogIn {
  display: flex;
  flex-direction: column;
  width: 310px;
  padding: 25px;
  margin: 50px 0px 50px 0px;
  font-family: "Comfortaa", cursive;
  color: #24255E;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: center; }

.modalLogIn h1 {
  margin: 35px 0px 9px 0px; }

.line {
  background: #24255E;
  width: 100%;
  height: 1.2px;
  margin: 0px 0px 50px 0px; }

.containerPassword {
  display: flex;
  align-items: center; }

.eyePassword {
  cursor: pointer; }

.email_login, #password_login {
  margin: 8px 0; }

.text {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left; }

.error {
  font-size: 13px;
  color: #ff3a3a;
  font-weight: bold; }

#next_button {
  width: 310px;
  height: 40px;
  margin: 40px 0px 25px 0px; }

.registerHere {
  cursor: pointer;
  font-size: 11px; }

/* <---------------------MEDIA QUERY---------------------> */
@media all and (max-width: 410px) {
  .modalLogIn {
    width: 220px; }
  #next_button {
    width: 220px; } }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://raw.githubusercontent.com/valeriaconstanzabc/SCL013-social-network/master/src/imagenes/FondoGrande.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: auto; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }
