.footer{
    position: fixed;
    width: 100%;
    bottom: 18px;
    background: $Color4;
    box-shadow: $ShadowButton1;
    display: flex;
    padding: 4px 18px 4px 18px;    
    justify-content: center;
    align-items: center;
}
    .imgFooter{
        height: 50px;
    }
    .copyright{
        color: $Color3;
        font-family: $Font1;
        font-size: 10px;
        order: 0;
        flex: 5 0 auto;
        align-self: auto;        
        display: flex;   
        justify-content: flex-start;
        margin-left: 10px;
    }
    .containerSocialMedia{
        margin-right: 30px;
        display: flex;
        align-items: center;
    }
        .social-media{
            margin: 5px;
        }
        .socialMedia1, .socialMedia2, 
        .socialMedia3 {
            height: 25px;     
        }